<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DataCleaner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="{{ url_for('static', filename='base.js') }}"></script>
</head>
<body style="text-align: center;">
    <div class="header" >
        <h2>DataToolBelt</h2>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/analyse">Analyze</a></li>
            <li><a href="/clean">Clean</a></li>
            <li><a href="/stat">Info</a></li>
          </ul>
          </nav>
        </div>
        {% block input %}
        {% endblock %}   
</body>
</html>