<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DataCleaner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="{{ url_for('static', filename='base.js') }}"></script>
</head>
<body>
    <div class="header" >
        <h2>DataToolBelt</h2>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
          </ul>
          </nav>
        </div>
        {% block input %}
        {% endblock %}
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='base.css') }}"></script>   
        <script>
            
            $("html").fileUplodPlugins({
               inputFileUpload: "#fileId",
                ValidType: ['image/jpeg', 'image/png',],
                btnUpload: ".file-upload-wrapper-title__btn",
                deleteImageBtn: ".image-previwe__delete-btn",
                boxFileUploadPreviwe: '.image-previwe',
                boxErrorPreviwe: '.error-wrapper',
            })
        </script>
        
</body>
</html>