<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DataCleaner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <style>
      body {
        background-image: url("{{ url_for('static', filename='bg.png') }}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      </style>
</head>
<body style="text-align: center; background: -webkit-linear-gradient(left, #2e5bd6, #ff3503);" >
    <div class="header" >
        <h2>DataToolBelt</h2>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/analyse">Analyze</a></li>
            <li><a href="/clean">Clean</a></li>
            <li><a href="/Info">Info</a></li>
            <li>
              <div class="dropdown">
                <button class="dropbtn">Algorithms 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div> 
            </li>
          </ul>
          </nav>
        </div>
        {% block input %}
        {% endblock %}   
</body>
</html>