{% extends "base.html" %}

{% block input %}
<div class="mainclean" style="display: -webkit-inline-box;position: relative; right: 6%; align-self: center;">
    <div class="feature_clean" style="padding: 4%;">
        <label for="f_clean">Choose a feature:</label>
        <select id="f_clean" name="f_clean">

            {% for c in col %} 
            <option value='{{c}}'>{{c}}</option>       
            {% endfor %}

        </select>
    </div>
    <div class="numofzeros" style="padding: 4%;" >
        <div class="zeros">
            number of 0's =
        </div>
        <div class="zero_drop">
            <button type="button" onclick="">Drop</button>
        </div>
    </div>
    <div class="numofna" style="padding: 4%;">
        <div class="na">
            number of NA's =
        </div>
        <div class="na_drop">
            <button type="button" onclick="">Drop</button>
        </div>
    </div>
    <div class="specificint" style="padding: 4%;">
        <div class="specific">
            <!--something will come here like =n, >n or <n-->
        </div>
        <div class="int_drop">
            <button type="button" onclick="">Drop/search</button>
        </div>
    </div>
</div>
{% endblock %}