{% extends "base.html" %}

{% block input %}

<script src="http://d3js.org/d3.v3.min.js"></script>

<script type="text/javascript"charset="utf-8">
    d3.text('{{lists}}', function(data) {
        var parsedCSV = d3.csv.parseRows(data);

        var container = d3.select("#table_container")
            .append("table")

            .selectAll("tr")
                .data(parsedCSV).enter()
                .append("tr")

            .selectAll("td")
                .data(function(d) { return d; }).enter()
                .append("td")
                .text(function(d) { return d; });
    });
</script>
<form action="" method="POST" enctype="multipart/form-data">
    <label for="header1">Choose a feature:</label>
    <select id="header1" name="header1">

        {% for c in col %} 
        <option value='{{c}}'>{{c}}</option>       
        {% endfor %}

    </select>
    <label for="features">Choose a function:</label>
    <select id="functions" name="functions">
        <option value="max">Maximum</option>
        <option value="min">Minimum</option>
        <option value="mean">Mean (average)</option>
        <option value="sum">Sum</option>
    </select>
    <input type="submit">
</form>
<div>
    <table>
        <tr>
            {% for c in col %} 
            <td>{{c}}</td>       
            {% endfor %}
            </tr>
            <tr>
                {% for type in types %} 
                <td>{{type}}</td>       
                {% endfor %}
                </tr>
    </table>
</div>
{% endblock %}