{% extends "base.html" %}

{% block input %}
<script>
    function showImg(){
        if($("#field1").val() == $("#field2").val()){
            return;
        }
        $('#field_image2').attr("alt","Loading... Be patient...");
        $.ajax({
            type:"GET",
            dataType: "text",
            data:{'feature1':$("#field1").val(),'feature2':$("#field2").val()},
            url: "/ms",
            success: function(data){
                buf2=data;
                console.log(data)
                var d = new Date()
                $('#field_image2').attr("src",data+'?'+(d));
            }
        })
    }
</script>
<form action="" method="GET" >
    <label for="field1">Choose a feature:</label>
    <select id="field1" name="field1" style="margin: 1%;">

        {% for c in col %} 
        <option value='{{c}}'>{{c}}</option>       
        {% endfor %}

    </select>
    <label for="field2">Choose a feature:</label>
    <select id="field2" name="field2" style="margin: 1%;">

        {% for c in col %} 
        <option value='{{c}}'>{{c}}</option>       
        {% endfor %}

    </select>
    <input type="button" value="Submit" onclick="showImg()" style="margin: 1%;">
    <img id="field_image2" src="">
</form>
{% endblock %}