{% extends "base.html" %}

{% block input %}
<form action="/" method="POST" enctype="multipart/form-data">
    <div class="maincontent">
        <div class="file-upload-wrapper">
            <div class="file-upload-wrapper-title">
                <h4 style="color: crimson;">File Upload</h4>
                <hr/>
                <button class="file-upload-wrapper-title__btn">
                    Upload Now
                </button>
            </div>
            <div class="box-fileupload">
                <input type="file" id="file" class="file-upload-input" name="file" multiple required>
                <label for="file" class="file-upload-btn"></label>
                <p class="box-fileupload__lable">Drop files here to upload</p>
            </div>
            <div class="error-wrapper"></div>
            <div class="image-previwe"></div>
        </div>
    </div>
</form>
<script>
    $("html").fileUplodPlugins({
       inputFileUpload: "#fileId",
        ValidType: ['image/jpeg', 'image/png',],
        btnUpload: ".file-upload-wrapper-title__btn",
        deleteImageBtn: ".image-previwe__delete-btn",
        boxFileUploadPreviwe: '.image-previwe',
        boxErrorPreviwe: '.error-wrapper',
    })
</script>
{% endblock %}